{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
video{
    width:blue;
    font-size:1rem;
    font-weight:200;
    font-family: Arial, Helvetica, sans-serif;

}
p{
    max-width:200px;
}
a{
    text-decoration: none;
    color:red;

}
h1{
    background-color: aqua;
    max-width: 250px;
    padding-left:20px;
    margin-left: 20px;
    padding: 5px 10px 5px 10px;


}